@font-face {
  font-family: "iconfont"; /* Project id 2937232 */
  src: url('iconfont.woff2?t=1636896683723') format('woff2'),
       url('iconfont.woff?t=1636896683723') format('woff'),
       url('iconfont.ttf?t=1636896683723') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e696";
}

.icon-password:before {
  content: "\e734";
}

.icon-quanping:before {
  content: "\e8fa";
}

.icon-tuichuquanping:before {
  content: "\e8fb";
}

.icon-quxiaoquanping_o:before {
  content: "\eb98";
}

.icon-quanping_o:before {
  content: "\eb99";
}

