# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.class
*.project
*.factorypath

# eclipse ignore
.settings/
.classpath
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target
!**/docker/dist
bin/
NewCustServSer/
SrenewSer/
sms-drugstore/

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# else
.springBeans

.svn/
.idea/
jdk-11.0.9_linux-x64.rpm
node_modules/
register-center/nacos-server/data/
logs/